#container {
    max-width: 850px;
}

.progress-bar-character {
    background-color: #F8EA56 !important;
}

.progress-bar-class {
    background-color: #46DB77 !important;
}

.no-rounded {
    border-radius: 0 !important; 
}